<div class="container-fluid article-container">
  <div class="card">
    <div class="card-header">
      <ul>
        {{#each Articles}}
        <div class="card-header">
          <h3>
            <a class="article-link" targer="_blank" rel="noopener noreferrer" href={{link}}>{{title}}</a>
          </h3>
        </div>
        <div class="card-body">
          {{summary}}
        </div>
        <div class="card-footer">
          <a class="btn btn-secondary save" id="readNotes" data-id="{{_id}}">Read Notes</a>
          <a class="btn btn-primary save" id="makeNotes" data-id="{{_id}}">Make Notes</a>
        </div>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
