<div class="container-fluid article-container">
  <div class="card">
    <div class="card-header">
      <ul>
        {{#each Articles}}
        <div class="card-header">
          <h3>
            <a class="article-link" targer="_blank" rel="noopener noreferrer" href={{link}}>{{title}}</a>
          </h3>
        </div>
        <div class="card-body">
          {{summary}}
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-secondary save" id="readNotes" data-id="{{_id}}">Read Notes</button>
          <div class="modal fade" id="seeNoteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="noteModalLabel">Title</h5>
                  <input class="form-control noteTitle" id="noteTitle"></input>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h6 class="modal-title" id="noteModalLabel">Subject</h6>
                  <textarea class="form-control noteBody" id="noteBody"></textarea>
                  {{#each Note }}
                  {{ body }}
                  {{/each}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" id="saveNote" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-primary" id="makeNotes" data-target="#seeNoteModal" data-toggle="modal"
            data-id="{{_id}}">Make Notes</button>
          <div class="modal fade" id="seeNoteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="noteModalLabel">Title</h5>
                  <input class="form-control noteTitle"></input>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h6 class="modal-title" id="noteModalLabel">Subject</h6>
                  <textarea class="form-control noteBody"></textarea>
                  {{#each Note }}
                  {{ body }}
                  {{/each}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" id="saveNote" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
